.content-title {
    background-image: linear-gradient(to right, #19191eff #19191e00), url('/static/image/liskadia_background.svg');
    background-position: center;
    color: #fff;
    margin: 0;
    padding: 100px 0;
}
