<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}

    {% endblock %}
    <title>Liskadia</title>
</head>
<body>
    <nav>
        <h1><a href="/">Liskadia</a></h1>
        {% if login_id %}
            <p>{{ login_id }}으로 로그인함 <a href="/logout">로그아웃</a></p>
        {% else %}
            <a href="/login">로그인</a>
            <a href="/register">회원가입</a>
        {% endif %}
    </nav>
    <article>
        {% block content %}

        {% endblock %}
    </article>
</body>
</html>