<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='image/logo.svg') }}">
    {% block head %}

    {% endblock %}
    <title>Liskadia</title>
    <script>
      const LOGIN_ID = '{{ login_id }}' === 'None' ? null : '{{ login_id }}';
    </script>
</head>
<body>
<nav>
    <div class="width-limiter">
        <span class="nav--title">
            <a href="/">
                <img src="{{ url_for('static', filename='image/logo.svg') }}" class="nav--logo-icon"
                     alt="{{ get_language('base.logo') }}">
            </a>
        </span>
        <ul>
            {% if login_id %}
                <li>{{ get_language('base.logined_as').format(login_id) }}</li>
                <li><a href="/profile/{{ login_id }}">{{ get_language('base.profile') }}</a></li>
                <li><a href="/logout">{{ get_language('base.logout') }}</a></li>
                <li><a href="/new_game">{{ get_language('base.new_game') }}</a></li>
                <li><a href="/setting">{{ get_language('base.setting') }}</a></li>
            {% else %}
                <li><a href="/login">{{ get_language('base.login') }}</a></li>
                <li><a href="/register">{{ get_language('base.register') }}</a></li>
            {% endif %}
            <li><a href="/ranking">{{ get_language('base.ranking') }}</a></li>
        </ul>
    </div>
</nav>
<article>
    <div class="width-limiter">
        {% block content %}

        {% endblock %}
    </div>
</article>
<footer>
    <hr>
    <div class="width-limiter">
        <small>
            <p>
                <a href="https://github.com/junhg0211/liskadia">{{ get_language('base.footer.github_repository') }}</a>
                <a href="mailto:junhg0211@gmail.com">{{ get_language('base.footer.contact') }}</a>
            </p>
            <p>
                {{ get_language('base.footer.cc')|safe }}
            </p>
        </small>
    </div>
</footer>
</body>
</html>
