{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <script src="{{ url_for('static', filename='js/hjulien.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="game-container">
        <canvas id="hjulien"></canvas>
        <div class="game-metadata">
            <h2>
                #<span id="game-metadata__id">{{ game.id }}</span>
                {% if game.state == 0 %}
                    (시작 대기중)
                {% elif game.state == 2 %}
                    (종료됨)
                {% endif %}
            </h2>
            <p>--- <span id="game-metadata__author">{{ game.created_by }}</span></p>
            <form action="/games/{{ game.id }}/start" method="POST">
                <input type="submit" value="게임 시작하기">
            </form>
            <form action="/games/{{ game.id }}/join" method="POST">
                <input type="submit" value="참가하기">
            </form>
            <ul>
                {% for user_id in participants %}
                    <li>{{ user_id }}</li>
                {% endfor %}
            </ul>
            <table class="game-metadata__history" id="nema-history">
                <tr>
                    <th>#</th>
                    <th>위치</th>
                    <th>놓은 플레이어</th>
                    <th>놓은 시각</th>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}