{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <script src="{{ url_for('static', filename='js/hjulien.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="game-container">
        <canvas id="hjulien"></canvas>
        <div class="game-metadata">
            <h2>
                #<span id="game-metadata__id">{{ game.id }}</span><span id="game-metadata__state"></span>
            </h2>
            <p>--- <span id="game-metadata__author">{{ game.created_by }}</span></p>
            <form action="/games/{{ game.id }}/start" method="POST" id="start-form" style="display: none;">
                <input type="submit" value="게임 시작하기">
            </form>
            <form action="/games/{{ game.id }}/join" method="POST" id="join-form" style="display: none;">
                <input type="submit" value="참가하기">
            </form>
            <form action="/games/{{ game.id }}/leave" method="POST" id="leave-form" style="display: none;">
                <input type="submit" value="퇴장하기">
            </form>
            <ol id="participants">
            </ol>
            <h3>점수판</h3>
            <div id="scoreboard"></div>
            <h3>네마 이력</h3>
            <table class="game-metadata__history" id="nema-history">
                <tr>
                    <th>#</th>
                    <th>위치</th>
                    <th>놓은 플레이어</th>
                    <th>놓은 시각</th>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}