{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <script src="{{ url_for('static', filename='js/svg.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hjulien.js') }}"></script>
    <title>Liskadia - #{{ game.id }}</title>
{% endblock %}

{% block content %}
    <div class="game-container">
        <svg id="hjulien"></svg>
        <div class="game-metadata">
            <h2>
                #<span id="game-metadata__id">{{ game.id }}</span>
                <span id="game-metadata__state"></span>
            </h2>
            <p>{{ game.created_at }}</p>
            <p>--- <a id="game-metadata__author" href="/profile/{{ game.created_by }}">{{ game.created_by }}</a></p>
            <form action="/games/{{ game.id }}/start" method="POST" id="start-form" style="display: none;">
                <input type="submit" value="{{ get_language('game.start') }}">
            </form>
            <form action="/games/{{ game.id }}/join" method="POST" id="join-form" style="display: none;">
                <input type="submit" value="{{ get_language('game.join') }}">
            </form>
            <form action="/games/{{ game.id }}/leave" method="POST" id="leave-form" style="display: none;">
                <input type="submit" value="{{ get_language('game.leave') }}">
            </form>
            <h3>{{ get_language('game.participants') }}</h3>
            <ul id="participants"></ul>
            <h3>{{ get_language('game.end_condition') }}</h3>
            <p>{{ get_language('game.condition_template').format(game.max_score) }}</p>
            <h3>{{ get_language('game.scoreboard') }}</h3>
            <div id="scoreboard"></div>
            <h3>{{ get_language('game.rankings') }}</h3>
            <ol id="ranking"></ol>
            <h3>{{ get_language('game.nema_history') }}</h3>
            <table class="game-metadata__history" id="nema-history">
                <tr>
                    <th>#</th>
                    <th>{{ get_language('game.place') }}</th>
                    <th>{{ get_language('game.player') }}</th>
                    <th>{{ get_language('game.placed_at') }}</th>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
