{% extends 'base.html' %}

{% block head %}
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}

{% block content %}
    <h2>{{ get_language('login.login') }}</h2>
    <form action="/login" method="POST" onsubmit="encrypt()">
        <p>
            <label>{{ get_language('login.id') }} <input type="text" name="id"></label>
        </p>
        <p>
            <label>{{ get_language('login.password') }} <input type="password" name="password" id="password"></label>
        </p>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <p>
            <input type="checkbox" id="remember-me" name="remember-me">
            <label for="remember-me">{{ get_language('login.remember_me_for') }}</label>
            <label for="during-day">
                <select name="during-day" id="during-day">
                    <option value="1">{{ get_language('login.during.1') }}</option>
                    <option value="2">{{ get_language('login.during.2') }}</option>
                    <option value="4">{{ get_language('login.during.4') }}</option>
                    <option value="8">{{ get_language('login.during.8') }}</option>
                    <option value="16">{{ get_language('login.during.16') }}</option>
                    <option value="32">{{ get_language('login.during.32') }}</option>
                    <option value="64">{{ get_language('login.during.64') }}</option>
                    <option value="128" selected>{{ get_language('login.during.128') }}</option>
                    <option value="256">{{ get_language('login.during.256') }}</option>
                </select>
            </label>
        </p>
        <input type="submit" value="{{ get_language('login.login') }}">
    </form>
{% endblock %}