{% extends 'base.html' %}

{% block head %}
    <script>
        window.addEventListener("load", () => {
          const userColorSpan = document.querySelector("#user-color__{{ user.id.replace('.', '-').replace(' ', '-') }}");

          let color = {{ user.color }};
          let r, g, b;
          [g, b] = [Math.floor(color / 256), color % 256];
          [r, g] = [Math.floor(g / 256), g % 256];
          color = `rgb(${r}, ${g}, ${b})`;

          userColorSpan.style.color = color;
        });
    </script>
{% endblock %}

{% block content %}
    <h1>{{ user.id }}<span id="user-color__{{ user.id.replace('.', '-').replace(' ', '-') }}"> ⬤</span></h1>
    {% if user.games > 0 %}
        <p>{{ get_language('profile.winning_percentage') }} : {{ user.wins }} / {{ user.games }} = {{ user.wins / user.games }}</p>
        <p>{{ get_language('profile.rating') }} : {{ user.get_formatted_rating() }} #{{ ranking_place }}</p>
    {% endif %}
    <h2>{{ get_language('games.joined_games') }}</h2>
    {% if played_games %}
        <ul>
            {% for game in played_games %}
                <li><a href="/game/{{ game.id }}">#{{ game.id }} --- {{ game.created_at }}, {{ game.created_by }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ get_language('profile.does_not_played_yet') }}</p>
    {% endif %}
{% endblock %}