{% extends 'base.html' %}

{% block head %}
    <script src="{{ url_for('static', filename='js/svg.js') }}"></script>
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
    <script>
      window.addEventListener("load", () => {
        const userColorSpan = document.querySelector("#user-color__{{ user.id.replace('.', '-').replace(' ', '-') }}");

        let color = {{ user.color }};
        let r, g, b;
        [g, b] = [Math.floor(color / 256), color % 256];
        [r, g] = [Math.floor(g / 256), g % 256];
        color = `rgb(${r}, ${g}, ${b})`;

        userColorSpan.style.color = color;
      });

      let USER_ID = '{{ user.id }}';
    </script>
    <title>Liskadia - @{{ user.id }}</title>
{% endblock %}

{% block content %}
    <h1>{{ user.id }} <span id="user-color__{{ user.id.replace('.', '-').replace(' ', '-') }}">⬤</span></h1>
    {% if user.games > 0 %}
        <ul>
            <li>{{ get_language('profile.joined_at') }} : {{ user.joined_at }}</li>
            <li>{{ get_language('profile.last_interaction') }} : {{ user.last_interaction }}</li>
            <li>
                {{ get_language('profile.winning_percentage') }} :
                {{ user.wins }} / {{ user.games }} = {{ user.wins / user.games }}
            </li>
            <li>{{ get_language('profile.rating') }} : {{ user.get_formatted_rating() }} #{{ ranking_place }}</li>
        </ul>
        <svg id="rating-history" width="100%"></svg>
    {% endif %}
    <h2>{{ get_language('games.joined_games') }}</h2>
    {% if played_games %}
        <ul>
            {% for game in played_games %}
                <a href="/game/{{ game.id }}">{{ game.id }}</a>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ get_language('profile.does_not_played_yet') }}</p>
    {% endif %}
{% endblock %}