{% extends 'base.html' %}

{% block head %}
    <script>
      let passwordField;
      let passwordAgainField;
      let submitButton;

      document.addEventListener('DOMContentLoaded', () => {
        passwordField = document.querySelector('#password');
        passwordAgainField = document.querySelector('#password-again');
        submitButton = document.querySelector('#submit');

        const color = document.querySelector('#color');

        color.value = '#' + Math.floor(Math.random() * 0x1000000).toString(16).padStart(6, '0');
      });

      function checkPassword() {
        submitButton.disabled = passwordAgainField.value !== passwordField.value;
      }
    </script>
{% endblock %}

{% block content %}
    <h2>{{ get_language('register.register') }}</h2>
    <form action="/users/new" method="POST">
        <p><label for="id">ID <input type="text" name="id"></label></p>
        <p>
            <label for="password">{{ get_language('login.password') }}</label>
            <input type="password" name="password" onchange="checkPassword()" id="password">
        </p>
        <p>
            <label for="password-again">{{ get_language('register.password_confirm') }}</label>
            <input type="password" onchange="checkPassword()" id="password-again">
        </p>
        <p>
            <label for="color">{{ get_language('register.nema_color') }}</label>
            <input type="color" id="color" name="color">
        </p>
        <p>
            <label for="language">{{ get_language('register.language') }}</label>
            <select name="language" id="language">
                <option value="en-US">English (United States)</option>
                <option value="ko-KR" selected>한국어 (대한민국)</option>
                <option value="ja-JP">日本語（日本）</option>
                <option value="ZA-ZS">Zasospika (Eraxeniluins dé Zasoque)</option>
            </select>
        </p>
        <input type="submit" disabled id="submit" value="{{ get_language('register.register') }}">
    </form>
{% endblock %}